<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="center">
    <button (click)="callApi()">Call Api</button>

    <table *ngIf="pokemons.length > 0" class="table">
        <thead>
            <th>#</th>
            <th>Nombre</th>
            <th>Url</th>
        </thead>
        <tbody *ngFor="let item of pokemons; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.name }}</td>
            <td class="cursor" (click)="getPokemon(item.url)">
                <a>{{ item.url }}</a>
            </td>
        </tbody>
    </table>
</div>